<%= form_with(model: assistance, local: true) do |form| %>
  <% if assistance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assistance.errors.count, "error") %> prohibited this assistance from being saved:</h2>

      <ul>
      <% assistance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.number_field :employee_id %>
  </div>

  <div class="field">
    <%= form.label :checkin %>
    <%= form.datetime_select :checkin %>
  </div>

  <div class="field">
    <%= form.label :checkout %>
    <%= form.datetime_select :checkout %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
